<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>Minas Distribuidora</title>
    {% endblock %}
    <link rel="stylesheet" href="/styles.css">
    
  </head>
  <body>
    <header id="header">
      
        <img src="images/logo-minas.png" alt="">
      

      <button id="buttons">Pedido Eletrônico</button>
      <nav id="nav">
        <button id="btn-mobile">Menu
          <span id="hamburger"></span>
        </button>
        <ul id="menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">Empresa</a>
          </li>
          <li>
            <a href="#feature">Fornecedores</a>
          </li>
          <li>
            <a href="#contact">Contato</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="catalog" id="home">
      <div class="content">
        <div class="title-wrapper-catalog">
          <p>Grandes Laboratórios</p>
          <h3>Indústrias Representadas</h3>
        </div>
        <div class="card-wrapper">
          <div class="card-item">
            <img src="images/logo-neoquimica.png" alt="Car"/>
          </div>
          <div class="card-item">
            <img src="images/logo-geolab.png" alt="Car"/>
            
          </div>
        </div>
      </div>
    </section>
    <section class="about" id="about">
      <div class="content">
        <div class="title-wrapper-about">
          <p>Um pouco sobre nossa empresa</p>
          <h3>Empresa</h3>
        </div>
        <div class="about-content">
          <div class="left">
            <img src="images/about2.png" alt="About"/>
          </div>
          <div class="right">
            <h3>História de Sucesso</h3>
            <p>
              A empresa Minas Distribuidora vem trabalhando desde 1989, no setor de distribuição de medicamentos para farmácias e
              hospitais, atuando com a matriz em Ji-Paraná-RO, e duas filiais; uma em Porto Velho-RO e outra em Rio Branco-AC. De
              acordo com o responsável da empresa, José Pereira de Oliveira, a mesma se preocupa com seus funcionários e está à
              procura de cada vez mais, melhores formas de trazer a eles um bem-estar dentro da organização. Buscando também, manter a
              forma de como é bem vista pelos seus fornecedores e representantes, levando uma grande vantagem competitiva por trazer
              uma boa imagem externa e interna. Contando com parcerias de sucesso e com grandes laboratórios, a empresa tem buscado
              estar sempre um passo a frente, realizando um trabalho em equipe com disciplina e pontualidade, procurando sempre o
              aperfeiçoamento dos funcionários e dependências. Com muito trabalho e seriedade conquistamos o destaque de melhor
              distribuidor de medicamentos do Estado de Rondônia. Graças aos nossos colaboradores e vendedores, que contam com
              tecnologia de ponta, para oferecer um serviço mais dinâmico com rapidez e qualidade. Ressaltando também, a grande
              infraestrutura do local, que possui um ambiente 100% climatizado para melhor armazenagem possível dos produtos.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="features" id="features">
      <div class="content">
        <div class="title-wrapper-features">
          <p>What you can do</p>
          <h3>Features</h3>
        </div>
        <div class="feature-card-block">
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature"/>
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature"/>
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature"/>
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature"/>
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature"/>
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="feature-card-item">
            <img src="images/feature-planet.png" alt="Feature"/>
            <div class="feature-text-content">
              <h3>Title</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="main">
        <div class="content footer-links">
          <div class="footer-company">
            <h4>Company</h4>
            <h6>About</h6>
            <h6>Contact</h6>
          </div>
          <div class="footer-rental">
            <h4>Rental</h4>
            <h6>Self-Drive</h6>
            <h6>Chauffer-Driven</h6>
            <h6>Help</h6>
          </div>
          <div class="footer-social">
            <h4>Redes Sociais</h4>
            <div class="social-icons">
              <img src="images/instagram.png" onclick=" window.open('https://www.instagram.com/','_blank')" alt="Instagram"/>
              <img src="images/facebook.png" onclick=" window.open('https://www.facebook.com/','_blank')" alt="Facebook"/>
            </div>
          </div>
          <div class="footer-contact">
            <h4>Contato</h4>
            <h6>+55 69 3421-1091</h6>
            <h6>minas@minasdistribuidora.com.br</h6>
            <h6>Avenida Transcontinental, 5135 Bairro Santiago</h6>
          </div>
        </div>
      </div>
      <div class="last">Minas Distribuidora 2021</div>
    </footer>
     <script src="/scripts.js"></script>
  </body>
 
</html>