{% extends "layout.njk" %}

{% block content %}

<section class="about" id="about">
      <div class="content">
        <div class="title-wrapper-about">
          <p>Um pouco sobre nossa empresa</p>
          <h3>Empresa</h3>
        </div>
        <div class="about-content">
          <div class="left">
            <img src="images/about2.png" alt="About"/>
          </div>
          <div class="right">
            <h3>História de Sucesso</h3>
            <p>
              A empresa Minas Distribuidora vem trabalhando desde 1989, no setor de distribuição de medicamentos para farmácias e
              hospitais, atuando com a matriz em Ji-Paraná-RO, e duas filiais; uma em Porto Velho-RO e outra em Rio Branco-AC. De
              acordo com o responsável da empresa, José Pereira de Oliveira, a mesma se preocupa com seus funcionários e está à
              procura de cada vez mais, melhores formas de trazer a eles um bem-estar dentro da organização. Buscando também, manter a
              forma de como é bem vista pelos seus fornecedores e representantes, levando uma grande vantagem competitiva por trazer
              uma boa imagem externa e interna. Contando com parcerias de sucesso e com grandes laboratórios, a empresa tem buscado
              estar sempre um passo a frente, realizando um trabalho em equipe com disciplina e pontualidade, procurando sempre o
              aperfeiçoamento dos funcionários e dependências. Com muito trabalho e seriedade conquistamos o destaque de melhor
              distribuidor de medicamentos do Estado de Rondônia. Graças aos nossos colaboradores e vendedores, que contam com
              tecnologia de ponta, para oferecer um serviço mais dinâmico com rapidez e qualidade. Ressaltando também, a grande
              infraestrutura do local, que possui um ambiente 100% climatizado para melhor armazenagem possível dos produtos.
            </p>
          </div>
        </div>
      </div>
    </section>

{% endblock %}