<footer>
  <div class="main">
    <div class="content footer-links">
      <div class="footer-company">
        <h4>Company</h4>
        <h6>Distribuidora 2</h6>
        <h6>Minas Camping</h6>
      </div>
      <div class="footer-rental">
        <h4>Rental</h4>
        <h6>Self-Drive</h6>
        <h6>Chauffer-Driven</h6>
        <h6>Help</h6>
      </div>
      <div class="footer-social">
        <h4>Redes Sociais</h4>
        <div class="social-icons">
          <img
            src="images/instagram.png"
            onclick=" window.open('https://www.instagram.com/minasdistribuidora.ro','_blank')"
            alt="Instagram"/>
          <img
            src="images/facebook.png"
            onclick=" window.open('https://www.facebook.com/MDMinasDistribuidora','_blank')"
            alt="Facebook"/>
        </div>
      </div>
      <div class="footer-contact">
        <h4>Contato</h4>
        <h6>+55 69 3421-1091</h6>
        <h6>minas@minasdistribuidora.com.br</h6>
        <h6>Avenida Transcontinental, 5135 Bairro Santiago</h6>
      </div>
    </div>
  </div>
  <div class="last">Minas Distribuidora 2021</div>
</footer>
<script src="/scripts.js"></script>