<header id="header">
    <img src="images/logo-minas.png" alt="">
    <button id="buttons">Pedido Eletrônico</button>
    <nav id="nav">
        <button id="btn-mobile">Menu
            <span id="hamburger"></span>
        </button>
        <ul id="menu">
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#about">Empresa</a>
            </li>
            <li>
                <a href="#feature">Fornecedores</a>
            </li>
            <li>
                <a href="#rca">Representantes</a>
            </li>
            <li>
                <a href="#contact">Contato</a>
            </li>
        </ul>
    </nav>
</header>